body {
  background-color: #f3f4f6;
  color: #374151;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
